---
import Layout from "@components/Layout.astro";
import { getEntry, getCollection, render } from 'astro:content';
import { formattedDate } from "@utils/date";

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({ params: { slug: post.id } }));
}

const { slug } = Astro.params;
const post = await getEntry('posts', slug);
if (!post) {
  throw new Error('Post not found');
}
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <div class="max-w-182 mx-auto px-4 py-8">
        <article class="prose prose-lg">
            <h1 class="text-[32px] text-primary font-title font-semibold ">{post.data.title}</h1>
            <p class="font-title text-button-tabs text-lg">{post.data.excerpt}</p>
            <time datetime={post.data.date} class="text-preview-date text-subtitle">{formattedDate(post.data.date)}</time>
            <div class="mt-6 text-primary text-title-post font-post">
                <Content />
            </div>
        </article>
    </div>
</Layout>
