---
import Layout from "../components/Layout.astro";
import ArchiveItem from "../components/ArchiveItem.astro";

import { getMonthKey } from "@utils/date";

import { getCollection } from "astro:content";
import { undefined } from "astro:schema";
const CollectionPostFetch = await getCollection("posts");

interface PostPreviewData {
    date: string;
    title: string;
    excerpt: string;
    srcPreview: string;
    altPreview: string;
}

const CollectionPostsByMonths = CollectionPostFetch.map((post) => post.data)
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
    .reduce((acc: Record<string, PostPreviewData[]>, post) => {
        const monthKey: string = getMonthKey(post.date);

        if (!acc[monthKey]) {
            acc[monthKey] = [];
        }
        acc[monthKey].push(post);
        return acc;
    }, {});

const KeysMonth = Object.keys(CollectionPostsByMonths);
const mostRecentMonth = KeysMonth[0];
const mostLastMonth = KeysMonth[KeysMonth.length - 1];
---

<Layout>
    <div class="flex flex-col gap-4">
        <div class="max-w-156 mx-auto pt-3 pb-8 px-4 w-full box-content">
            {
                Object.entries(CollectionPostsByMonths).map(
                    ([month, posts]) => (
                        <div class="flex flex-col">
                            {mostRecentMonth !== month && (
                                <h2 class="text-[#ea580c] text-preview-date font-medium px-2 pb-6">
                                    {month}
                                </h2>
                            )}
                            <div class="flex flex-col">
                                {posts.map((post, i) => (
                                    <div>
                                        <ArchiveItem
                                            date={post.date}
                                            srcPreview={post.srcPreview}
                                            title={post.title}
                                            excerpt={post.excerpt}

                                        />
                                         {posts[i + 1] && (
                                            <div class="p-2">
                                                <div class="border-b border-gray w-full" />
                                            </div>
                                        )}
                                    </div>
                                ))}
                                
                            </div>
                            {mostLastMonth !== month && (
                                <div class="p-2">
                                    <div class="border-b border-gray w-full" />
                                </div>
                            )}
                        </div>
                    ),
                )
            }
        </div>
    </div>
</Layout>
